<!doctype html>
<html class="no-js" lang="" xmlns="http://www.w3.org/1/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>奖项管理系统</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="shortcut icon" href="/favicon.ico">
    <link rel="apple-touch-icon" href="/apple-touch-icon.png">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/css/bootstrap.css" rel="stylesheet">
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="../styles/main.css">
    <!-- endbuild -->
    <!-- build:js scripts/vendor/modernizr.js -->
    <script src="/bower_components/modernizr/modernizr.js"></script>
    <!-- endbuild -->

</head>
<body>
<!--[if lt IE 10]>
<p class="browsehappy">你正在使用一个<strong>过时的</strong>浏览器. 请到<a href="http://browsehappy.com/">这里</a>去升级你的浏览器以获得更佳的体验.</p>
<![endif]-->

<div class="container">

    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                        aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">奖项管理系统</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="/">主页</a></li>
                    <li><a href="about">关于</a></li>
                    <li><a href="contact">联系我们</a></li>
                </ul>
            </div><!--/.nav-collapse -->
        </div><!--/.container-fluid -->
    </nav>

    <article class="jumbotron">
        <header>
            <h1>石大易签到</h1>
            <p>石大易签到,轻松统计活动到场人数,省时省力,操作简单.点击下面的按钮尝试创建一个签到项目吧!</p>
            <a href="/create" class="btn btn-success">用户详情</a>
        </header>
        <section style="margin-top: 20px">
            <table class="table table-bordered">
                <title>历史记录</title>
                <thead>
                <tr>
                    <th>sno</th>
                    <th>sname</th>
                    <th>ssex</th>
                    <th>sage</th>
                    <th>major</th>
                    <th>奖项详情</th> //我们可以在这个里面添加详情

                </tr>
                </thead>
                <tbody>
                <tr th:each="student:${students}">
                    <td th:text="${student.sno}">sno</td>
                    <td th:text="${student.sname}">sname</td>
                    <td th:text="${student.ssex}">ssex</td>
                    <td th:text = "${student.sage}">sage</td>
                    <td th:text = "${student.major}">major</td>
                    <td><a th:href="@{/studentdetail(sno=${student.sno})}">得奖详情</a></td>
                </tr>
                </tbody>
            </table>
        </section>
    </article>

    <div class="footer">
        <p><span class="glyphicon glyphicon-heart"></span> from the UPCyiban - skyADMIN</p>
    </div>
</div>



<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/js/bootstrap.js"></script>
<!-- endbuild -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js"></script>
<!-- build:js(.tmp) scripts/main.js -->

<script>

</script>
</body>
</html>
